@import "tailwindcss";

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.movie-swiper {
  padding-bottom: 40px;
}

/* Hide arrows on screens smaller than 768px */
@media (max-width: 767px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}

